    <hr>
    <div class="ui grid">
        <div class="ui list">
        <div class="item" (click)="upvote()"><i class="huge center aligned angle up icon"></i></div>
        <div class="item"><div class="ui center aligned huge circular label">{{comment.votes}}</div></div>
        <div class="item"(click)="downvote()"><i class="huge center aligned angle down icon"></i></div>
        <strong></strong>
        </div>
      <div class="ui ten wide column">
        <p class="ui small header" style="font-size: 20px;">{{comment.body}}</p>
      </div>
      <div class="ui four wide column">
         <img class="img-responsive" src="https://api.adorable.io/avatars/64/{{comment.userId}}@adorable.io.png">
         <p style="font-size: 20px;" >{{comment.userId}}</p>
      </div>

    </div>

