<div class="ui category search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search tags...">
    <i class="search icon"></i>
  </div>
</div>
<br>
<h3 class="ui horizontal divider header">Top tags</h3>
<div class="ui tag labels">
  <a class="ui large tag label" style="background:#FFD700"><i class="hashtag icon"></i>Math</a><br>
  <a class="ui large tag label" style="background:#FFD700"><i class="hashtag icon"></i>IT</a><br>
  <a class="ui large tag label" style="background:#FFD700"><i class="hashtag icon"></i>Programming</a><br>
</div>
