<div class="ui massive menu">
  <h2 class="header item">
    SNEK
  </h2>
  <div class="right menu">
    <a class="item" [routerLink]="['/ask']">
      Ask a question
    </a>
    <a class="item" [routerLink]="['']">
      Questions
    </a>
    <a class="item" [routerLink]="['/about']">
      About
    </a>
    <a class="item" [routerLink]="['/contact']">
      Contact
    </a>

    <a class="login item" (click)="showLogin()" style="background:#FFD700">
      <span *ngIf="!logged">Login</span>
      <span *ngIf="logged">Logout</span>
    </a>

    <div class="ui basic popup">
      <app-login (onLogin)="loggedIn($event)"></app-login>
    </div>

  </div>
</div>



