
  <div class="ui segment">
    <app-tag-list [tags]="['Math','IT', 'Electromagnetism']"></app-tag-list>
    <br>
    <h3 class="ui horizontal divider header">Department tags</h3>
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search department...">
        <i class="search icon"></i>
      </div>
    </div>
    <br>
    <div class="ui tag labels">
      <a class="ui large tag label"><i class="hashtag icon"></i>IFE</a>
      <a class="ui large tag label"><i class="hashtag icon"></i>DMCS</a>
      <a class="ui large tag label"><i class="hashtag icon"></i>FTIMS</a>
    </div>
    <br>
    <h3 class="ui horizontal divider header">General tags</h3>
    <div class="ui category search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search general tag...">
        <i class="search icon"></i>
      </div>
    </div>
    <br>
    <div class="ui tag labels">
      <a class="ui large tag label"><i class="hashtag icon"></i>Programming</a>
      <a class="ui large tag label"><i class="hashtag icon"></i>Schedules</a>
      <a class="ui large tag label"><i class="hashtag icon"></i>Tuitions</a>
    </div>
  </div>
