<!--The content below is only a placeholder and can be replaced.-->
<div class="ui massive menu">
  <h2 class="header item">
    SNEK
  </h2>
  <div class="right menu">
    <div class="item">
      Ask a question
    </div>
    <div class="item">
      Questions
    </div>
    <div class="item">
      About
    </div>
    <div class="item">
      Contact
    </div>
    <div class="fitted item">
      <button class="ui fluid yellow button">
        Login
      </button>
    </div>
  </div>
</div>
<div class="ui raised segment">
  <div class="ui fluid big icon input">
    <input type="text" placeholder="Search a question">
    <i class="search icon"></i>
  </div>
</div>
<div class="ui grid">
  <div class="ui twelve wide column">
    <div class="ui five item top attached menu">
      <a class="item">
        Popular
      </a>
      <a class="item active">
        Fresh
      </a>
      <a class="item active">
        Top Answered
      </a>
      <a class="item active">
        Top Questions
      </a>
      <a class="item right floated">
        <div class="ui labeled icon dropdown button">
          <i class="filter icon"></i>
          <span class="text">Filter</span>
        </div>
      </a>

    </div>
    <div class="ui attached segment">
      <div class="ui segments">
        <div class="ui green segment">
          <div class="ui grid">
            <div class="ui two wide column">
              <div class="ui list">
                <div class="item"><i class="big center aligned angle up icon"></i></div>
                <div class="item"><div class="ui center aligned circular label">15</div></div>
                <div class="item"><i class="big center aligned angle down icon"></i></div>
              </div>
            </div>
            <div class="ui fourteen wide column">
              <div class="ui grid">
                <div class="ui fifteen wide column">
                  <span class="ui horizontal center aligned header">Help me solve this integral </span>
                </div>
                <div class="ui one wide column">
                  <a class="ui green horizontal right ribbon label">Solved!</a>
                </div>
              </div>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusantium ad adipisci animi, aperiam consequuntur culpa deserunt doloremque ducimus,
              fuga id impedit iure magni nobis optio quisquam quo sapiente sed vitae.
              </p>
              <div class="ui tag labels">
                <a class="ui tag label"><i class="hashtag icon"></i>Math</a>
                <a class="ui tag label"><i class="hashtag icon"></i>Integral</a>
                <a class="ui tag label"><i class="hashtag icon"></i>Calculus</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ui orange segment">
          <div class="ui grid">
            <div class="ui two wide column">
              <div class="ui list">
                <div class="item"><i class="big center aligned angle up icon"></i></div>
                <div class="item"><div class="ui center aligned circular label">3</div></div>
                <div class="item"><i class="big center aligned angle down icon"></i></div>
              </div>
            </div>
            <div class="ui fourteen wide column">
              <span class="ui horizontal center aligned header">Where and when does Dr.X have consultation hours? </span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad adipisci animi, aperiam consequuntur culpa deserunt doloremque ducimus,
                fuga id impedit iure magni nobis optio quisquam quo sapiente sed vitae.
              </p>
              <div class="ui tag labels">
                <a class="ui tag label"><i class="hashtag icon"></i>Schedules</a>
                <a class="ui tag label"><i class="hashtag icon"></i>IFE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ui orange segment">
          <div class="ui grid">
            <div class="ui two wide column">
              <div class="ui list">
                <div class="item"><i class="big center aligned angle up icon"></i></div>
                <div class="item"><div class="ui center aligned circular label">-10</div></div>
                <div class="item"><i class="big center aligned angle down icon"></i></div>
              </div>
            </div>
            <div class="ui fourteen wide column">
              <span class="ui horizontal center aligned header">HELP PLOX I NEED THIS </span>
              <p>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad adipisci animi, aperiam consequuntur culpa deserunt doloremque ducimus,
                fuga id impedit iure magni nobis optio quisquam quo sapiente sed vitae.
              </p>
              <div class="ui tag labels">
                <a class="ui tag label"><i class="hashtag icon"></i>C++</a>
                <a class="ui tag label"><i class="hashtag icon"></i>FTIMS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ui green segment">
          <div class="ui grid">
            <div class="ui two wide column">
              <div class="ui list">
                <div class="item"><i class="big center aligned angle up icon"></i></div>
                <div class="item"><div class="ui center aligned circular label">15</div></div>
                <div class="item"><i class="big center aligned angle down icon"></i></div>
              </div>
            </div>
            <div class="ui fourteen wide column">
              <div class="ui grid">
                <div class="ui fifteen wide column">
                  <span class="ui horizontal center aligned header">What is NullPointerException </span>
                </div>
                <div class="ui one wide column">
                  <a class="ui green horizontal right ribbon label">Solved!</a>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad adipisci animi, aperiam consequuntur culpa deserunt doloremque ducimus,
                fuga id impedit iure magni nobis optio quisquam quo sapiente sed vitae.
              </p>
              <div class="ui tag labels">
                <a class="ui tag label"><i class="hashtag icon"></i>Java</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ui orange segment">
          <div class="ui grid">
            <div class="ui two wide column">
              <div class="ui list">
                <div class="item"><i class="big center aligned angle up icon"></i></div>
                <div class="item"><div class="ui center aligned circular label">300</div></div>
                <div class="item"><i class="big center aligned angle down icon"></i></div>
              </div>
            </div>
            <div class="ui fourteen wide column">
              <div class="ui grid">
                <div class="ui fifteen wide column">
                  <span class="ui horizontal center aligned header">What are the non-trivial zeroes of Riemann zeta function? </span>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad adipisci animi, aperiam consequuntur culpa deserunt doloremque ducimus,
                fuga id impedit iure magni nobis optio quisquam quo sapiente sed vitae.
              </p>
              <div class="ui tag labels">
                <a class="ui tag label"><i class="hashtag icon"></i>Math</a>
                <a class="ui tag label"><i class="hashtag icon"></i>Analysis</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ui four wide column">
    <div class="ui segment">
      <div class="ui category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search tags...">
          <i class="search icon"></i>
        </div>
      </div>
      <br>
      <h3 class="ui horizontal divider header">Top tags</h3>
      <div class="ui tag labels">
        <a class="ui large tag label"><i class="hashtag icon"></i>Math</a><br>
        <a class="ui large tag label"><i class="hashtag icon"></i>Python</a><br>
        <a class="ui large tag label"><i class="hashtag icon"></i>Electromagnetism</a><br>
      </div>
      <br>
      <h3 class="ui horizontal divider header">Department tags</h3>
      <div class="ui category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search department...">
          <i class="search icon"></i>
        </div>
      </div>
      <br>
      <div class="ui tag labels">
        <a class="ui large tag label"><i class="hashtag icon"></i>IFE</a>
        <a class="ui large tag label"><i class="hashtag icon"></i>DMCS</a>
        <a class="ui large tag label"><i class="hashtag icon"></i>FTIMS</a>
      </div>
      <br>
      <h3 class="ui horizontal divider header">General tags</h3>
      <div class="ui category search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search general tag...">
          <i class="search icon"></i>
        </div>
      </div>
      <br>
      <div class="ui tag labels">
        <a class="ui large tag label"><i class="hashtag icon"></i>Programming</a>
        <a class="ui large tag label"><i class="hashtag icon"></i>Schedules</a>
        <a class="ui large tag label"><i class="hashtag icon"></i>Tuitions</a>
      </div>
    </div>
  </div>
</div>
