<div [ngClass]="(post.solved)?'ui green segment':'ui orange segment'">
  <div class="ui grid">
    <div class="ui two wide column">
      <div class="ui list">
        <div class="item" (click)="upvote()"><i class="big center aligned angle up icon"></i></div>
        <div class="item"><div class="ui center aligned circular label">{{post.votes}}</div></div>
        <div class="item"(click)="downvote()"><i class="big center aligned angle down icon"></i></div>
          <strong></strong>
      </div>
    </div>
    <div class="ui fourteen wide column">
      <div class="ui grid">
        <div class="ui fifteen wide column">
          <span class="ui horizontal center aligned header">{{post.title}}</span>
        </div>
        <div class="ui one wide column">
          <a *ngIf="post.solved" class="ui green horizontal right ribbon label">Solved!</a>
        </div>
      </div>
      <p>
        {{post.description}}
      </p>
      <div class="ui tag labels">
        <a *ngFor="let t of post.tags" class="ui tag label"><i class="hashtag icon"></i>{{t}}</a>
      </div>
    </div>
  </div>
</div>
