<div [ngClass]="(post.solved)?'ui green segment':'ui orange segment'">
  <div class="ui grid">
    <div class="ui two wide column">
      <div class="ui list">
        <div class="item" (click)="upvote()"><i class="big center aligned angle up icon"></i></div>
        <div class="item"><div class="ui center aligned circular label">{{post.votes}}</div></div>
        <div class="item"(click)="downvote()"><i class="big center aligned angle down icon"></i></div>
          <strong>{{post.userId}}</strong>
      </div>
    </div>
    <div class="ui fourteen wide column" (click)="showModal()">
      <div class="ui grid">
        <div class="ui fifteen wide column">
          <span class="ui horizontal center aligned header" *ngIf="post.title.length < 100">{{post.title}}</span>
          <span class="ui horizontal center aligned header" *ngIf="post.title.length > 100">{{post.title.substr(0,100)}}...</span>
        </div>
        <div class="ui one wide column">
          <a *ngIf="post.solved" class="ui green horizontal right ribbon label">Solved!</a>
        </div>
      </div>
      <p *ngIf="post.description.length < 500">
        {{post.description}}
      </p>
      <p *ngIf="post.description.length > 500">
        {{post.description.substr(0,500)}}...
      </p>
      <div class="ui tag labels">
        <a *ngFor="let t of post.tags" class="ui tag label"><i class="hashtag icon"></i>{{t}}</a>
      </div>
    </div>
  </div>
</div>


<div class="ui modal" ngClass="{{post.id}}">
  <i class="close icon"></i>
  <h1 class="ui center aligned massive header">
    {{post.title}}
  </h1>
  <div class="scrolling content">
    <div class="ui grid">
      <div class="ui list">
        <div class="item" (click)="upvote()"><i class="huge center aligned angle up icon"></i></div>
        <div class="item"><div class="ui center aligned huge circular label">{{post.votes}}</div></div>
        <div class="item"(click)="downvote()"><i class="huge center aligned angle down icon"></i></div>
        <strong></strong>
      </div>
      <div class="ui twelve wide column">
        <p class="ui huge header">{{post.description}}</p>
      </div>
    </div>
    <hr>
    <div class="ui tag labels">
      <a *ngFor="let t of post.tags" class="ui tag label"><i class="hashtag icon"></i>{{t}}</a>
    </div>
    <app-comment-list [post]="post"></app-comment-list>
  </div>
</div>
