<div class="ui twelve wide column">
  <br>
  <app-searchbox (onSearch) = search($event)></app-searchbox>
  <br>
  <div class="ui five item top attached menu">
    <a class="item">
      Popular
    </a>
    <a class="item active">
      Fresh
    </a>
    <a class="item active">
      Top Answered
    </a>
    <a class="item active">
      Top Questions
    </a>
    <a class="item right floated">
        <i class="filter icon"></i>
        <span class="text">Filter</span>
    </a>

  </div>
  <div class="ui attached segment">
    <div class="ui segments">
      <app-post *ngFor="let p of postList" [post]="p"></app-post>
    </div>
  </div>
</div>
